.header {
  width: 100%;
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  flex-flow: row wrap;
  position: relative;
}

.trybewarts-header-logo {
  display: flex;
  height: 50px;
  align-self: center;
  justify-self: flex-start;
  left: 0;
}

.trybewarts-login {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-self: flex-end;
  align-self: center;
  right: 0;
  width: 400px;
}

#trybewarts-header-title {
  display: flex;
  align-self: center;
  justify-self: center;
  font-family: fantasy;
  color: white;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  display: flex;
  justify-self: right;
  height: 500px;
}

#nomeSobrenome {
  display: flex;
}

#emailCasa {
  display: flex;
}

hr {
  border: 2px;
  border-style: solid;
  border-color: rgb(50, 167, 145);
  width: 100%;
  opacity: 0.6;
}

/* A customização de botões usou a seguinte referência:
https://stackoverflow.com/questions/32495588/
bootstrap-button-active-and-target-styling-not-working */

.btn {
  background-color: rgb(33, 126, 109);
  border-color: rgb(33, 126, 109);
}

.btn:hover {
  background-color: rgb(21, 78, 68);
  border-color: rgb(33, 126, 109);
}

.btn:disabled {
  background-color: rgb(34, 117, 102);
  border-color: rgb(33, 126, 109);
}

.btn:focus {
  background-color: rgb(38, 150, 129);
  border-color: rgb(33, 126, 109);
}

.btn:active {
  background-color: rgb(38, 150, 129);
  border-color: rgb(33, 126, 109);
}

.btn:active:focus {
  border-color: rgb(57, 199, 175);
  box-shadow: 0 0 0 3px rgb(51, 182, 160);
  outline-color: 0 0 0 3px rgb(30, 104, 91);
}

.btn:hover:focus:active {
  border-color: rgb(51, 182, 160);
  box-shadow: 0 0 0 3px rgb(17, 59, 52);
  outline-color: 0 0 0 3px rgb(30, 104, 91);
}

.btn:hover:active:focus {
  background-color: rgb(64, 179, 158);
  outline-color: 0 0 0 3px rgb(26, 92, 81);
  box-shadow: 0 0 0 3px rgb(17, 59, 52);
}

/* A customização de radio usou a seguinte referência:
https://stackoverflow.com/questions/4253920/how-do-i-change-the-color-of-radio-buttons */

#avaliacao input:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 11px;
  margin-top: px;
  margin-left: px;
  background-color: rgb(64, 179, 158);
  content: '';
  display: flex;
  visibility: visible;
}

/* utilizando a mesma lógica do radio pode-se customizar o checkbox */
#familia {
  display: flex;
  flex-flow: column wrap;
}

#familia input:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 11px;
  margin-top: px;
  margin-left: px;
  background-color: rgb(64, 179, 158);
  content: '';
  display: flex;
  visibility: visible;
}

#subjecto input:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  margin-top: px;
  margin-left: px;
  background-color: rgb(64, 179, 158);
  content: '';
  display: flex;
  visibility: visible;
}
